@inject ICustomerRepository customerData
@model Customer
@{
    ViewData["Title"] = "Details";
}

@if (Model is null)
{
    <em>Loading ......</em>
}
else
{
    <div class="d-flex overflow-auto" style="height: 50vh">
        <table class="table table-striped table-details ">
            <tbody class="border-2 border-secondary fw-bold text-center align-middle h5">

                <tr class="border-2">
                    <th class="table-dark">Id</th>
                    <td>@Model.Guid</td>
                </tr>

                <tr class="border-2">
                    <th class="table-dark">First Name</th>
                    <td>@Model.FirstName</td>
                </tr>

                <tr class="border-2">
                    <th class="table-dark">Last Name</th>
                    <td>@Model.LastName</td>
                </tr>

                <tr class="border-2">
                    <th class="table-dark">Email</th>
                    <td>@Model.Email</td>
                </tr>

                <tr class="border-2">
                    <th class="table-dark">Phone</th>
                    <td>@Model.Phone</td>
                </tr>

                <tr class="border-2">
                    <th class="table-dark">Birthdate</th>
                    <td>@Model.Birthdate.ToShortDateString()</td>
                </tr>

                <tr>
                    <th class="table-dark">Borrowed Books</th>
                    <td>
                        <a class="btn btn-primary btn-outline-info rounded-3 text-white"
                           asp-controller="Book" asp-action="GetBorrowedBooks" asp-route-Id="@Model.Guid">
                            @await customerData.GetBorrowedCount(Model.Guid)
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="row-cols-6 m-5 text-center">
        <a asp-action="UpdateCustomer" asp-route-Id="@Model.Guid" class="btn btn-warning p-2 m-3 fw-bold">Update</a>
        <a asp-action="DeleteCustomer" asp-route-Id="@Model.Guid" class="btn btn-danger p-2 m-3 fw-bold">Delete</a>
        <a asp-action="Index" class="btn btn-primary p-2 m-3">Back</a>
    </div>

}